body {
    background-color: #F58509;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el body ocupe el 100% de la altura */
    margin: 0;
}

main {
    flex: 1; /* Hace que el contenido principal tome el espacio restante */
    padding: 20px; /* Espaciado interno opcional */
}

/* Estilo para los enlaces de navegación */
.navbar-nav .nav-link {
    color: #6F6A6A !important;
    font-size: 0.975rem !important; 
    line-height: 1.5 !important; 
    display: flex !important;
    align-items: center !important; /* Centra el texto verticalmente dentro del enlace */
}
 
/* Tamaño de fuente para el texto del usuario */
.navbar-text {
    font-size: 0.975rem !important; 
}

.navbar .navbar-toggler {
    color: rgba(0, 0, 0, .55);
    border-color: rgba(0, 0, 0, .1);
}
  
.navbar-nav .nav-item + .nav-item {
    margin-left: 1rem !important;
}
  

/* Ajuste para los items del menu */
.navbar-nav .nav-item {
    margin: 0 10px; /* Ajusta el margen para espacio entre ítems */
    color: white;
    align-items: center;
    display: flex;
} 
 

.form-label, h5 {
    color: white; 
    font-size: 20px;
    margin-bottom: 10px; 
}

/* Campos de entrada */
.custom-input {
    background-color: #F8A244; 
    border: none; /* Sin borde */
    color: white;
    border-radius: 15px; 
    padding: 10px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 90%;
}

.custom-input:focus {
    background-color: #F58509;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    color: white;
}

/* Boton de guardar cambios */
.btn-save {
    border-radius: 30px;
    color: #F3860F;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin-right: 5%;
}

.btn-save:hover { 
    background-color: #E67300;
    border: #E67300;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.switch {
    position: relative; /* Posicionamiento relativo */
    display: inline-block; /* Display en línea */
    width: 50px; /* Ancho del switch */
    height: 25px; /* Altura del switch */
}

.switch input {
    opacity: 0; /* Ocultando el input */
    width: 0; /* Sin ancho */
    height: 0; /* Sin altura */
}

/* Fondo del switch */
.slider {
    position: absolute; /* Posicionamiento absoluto */
    cursor: pointer; /* Cursor puntero */
    inset: 0;
    background-color: #ccc; 
    transition: .4s; /* Transición */
    border-radius: 25px; 
}

/* Interior del switch */
.slider:before {
    position: absolute; /* Posicionamiento absoluto */
    content: ""; /* Contenido vacío */
    height: 15px;
    width: 15px;
    left: 5px; 
    bottom: 5px; 
    background-color: white; 
    border-radius: 50%; 
    transition: .4s; /* Transición */
}

input:checked+.slider {
    background-color: black; /* Color del slider cuando está activo */
}

input:checked+.slider:before {
    transform: translateX(20px); /* Movimiento del círculo al activar */
}

#profileImage{
    width: 250px;
    height: 250px;
}


/* Estilo específico para 1366x768 */
@media (max-height: 768px) {
    main {
      display: flex;              
      justify-content: center;    
      align-items: center;       
      height: 100vh;              
    } 
}
  
/* Tableta en Modo Vertical (768x1024) */
@media (max-width: 1024px) {
    /* Centrar la imagen en la parte superior */
    .col-md-4 {
      width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
      text-align: center; /* Centra la imagen horizontalmente */
      margin-bottom: 20px; /* Da un poco de espacio debajo de la imagen */
    }
  
    /* Asegura que la columna de formulario ocupe todo el ancho disponible */
    .col-md-8 {
      width: 100%;
    }
  
    .row.g-3 {
      display: flex;
      flex-wrap: wrap; /* Hace que los campos puedan envolver en filas */
      gap: 20px; /* Añade espacio entre los campos */
    }
  
    /* Los campos se distribuyen en 2 columnas (3 a la izquierda y 3 a la derecha) */
    .col-md-6 {
      width: 48%;
    }
}
  

/* Para smartphones pequeños (320x568) */
@media (max-width: 568px){
    .navbar {
        background-color: #F57C00 !important;
    }

    .navbar-custom .nav-link {
        color: rgba(255, 255, 255, .55) !important;
    }

    body {
        background-color: white;
    }

    .form-label,
    #editProfileText {
        color: #F57C00 !important;
    }

    #btnguardarcambios {
        background-color: #F8A244 !important;
        border: #F8A244;
        color: white;
        border-radius: 15px;
        margin-bottom: 5%;
    }

    .form-control {
        width: 100% !important; 
        padding: 10px;
        font-size: 16px; 
    }

    .col-md-6 {
        width: 100% !important; /* Los campos de 2 columnas pasan a ocupar el 100% en smartphones */
        padding-left: 0 !important; 
        padding-right: 0 !important;
    }
}

/*Modo Oscuro*/
/*Color del contenedor y del body*/
body.dark-mode,
body.dark-mode footer{
    background-color:  rgb(34, 34, 34);
}

/* Color de fondo de los inputs */
body.dark-mode .custom-input {
    background-color: #8b8989;
}

body.dark-mode .btn-save {
    background-color:#d6d6d6;
}

#icon-cart{
    font-size: large;
    color: #F58509;
    position: relative;
}
    
.btn-group {
    position: relative; /* Para el badge */
}

.dropdown-item {
    position: relative; /* Necesario para que el badge se posicione correctamente */
}
      
#badge {
    position: absolute;
    font-size: 0.50rem; /* Tamaño de fuente responsivo */
}

.cart-icon-container {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-left: 5px; /* Espacio entre el texto y el icono */
}