body {  
  background-color:#F58509;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.navbar-custom{
  background-color: white;   
}

* {
  margin: 0;
  padding: 0;
}

.main {
  background-color: #fff; 
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 25px; 
  transition: transform 0.2s;
  width: 500px; 
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Campo de búsqueda */
#searchInput {
  box-sizing: border-box; 
  background-color: #F58509; 
  border: 2px solid white;
  color: white;  /* Color al escribir*/
  border-radius: 15px;
}

/* Al precionar el botón */
#searchInput:focus {
  outline: 4px solid rgb(223, 195, 142); /* Cambia el borde azul a naranja */
  outline-offset: 0; /* Aseruramos que el borde quede al rededor del campo */
}

/* Cambia el color de "Buscar artículos..." */
#searchInput::placeholder {
  color: white; 
}

/* Boton de filtral por precio */
#priceFilterButton {
  background-color: #F58509; 
  border: 2px solid white;
  color: white;
  border-radius: 15px;
  width: 200px;
}

/* Estilo para la barra del slider */
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  accent-color: #F58509 !important;
  pointer-events: none;
  cursor: pointer;
  visibility: visible !important;
  display: block !important;
}

body.dark-mode input[type="range"] {
  background-color: #888;
}

body.dark-mode input[type="range"]::-webkit-slider-thumb {
  background: #ccc;
}

/* Rango */
input[type="range"]::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  border-radius: 70%;
  background: #555;
  pointer-events: auto;
  -webkit-appearance: none;
}

.range-input {
  position: relative;
}

/* Remove Arrows/Spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Fin rango */

/* Boton filtrar */
#rangeFilterCount {
  border: 2px solid #F58509;
  background-color: white; 
  color: #F58509; 
  border-radius: 15px; 
  font-size: 16px; 
  align-items: center;
  margin-top: 30px; 
  margin-left: 200px;
}

#rangeFilterCount:hover {
  background-color: #F58509; 
  color: white; 
}

/* Boton de ordenar */
#sortDropdown {
  background-color: #F58509; 
  border: 2px solid white;
  color: white;
  border-radius: 15px;
  width: 200px;
}

/* Boton de limpiar todo */
#clearRangeFilter {
  background-color: #F58509; 
  border: 2px solid white;
  color: white;
  border-radius: 15px;
}

/* Espacion entre cada boton */
.d-flex {
  gap: 10%; 
}


.price-input .price-field {
  display: flex;
  margin-bottom: 22px;
}

.price-field span {
  margin-right: 10px;
  margin-top: 6px;
  font-size: 17px;
}

.price-field input {
  flex: 1;
  height: 35px;
  font-size: 15px;
  font-family: "DM Sans", sans-serif;
  border-radius: 9px;
  text-align: center;
  border: 6px;
  background: #e4e4e4;
  
}

.price-input {
  width: 100%;
  font-size: 19px;
  color: #555;
}
   
/*Estilos productos */
/* contenedor principal */
.card {
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Sombra alrededor del contenedor */
  overflow: hidden; /* Para evitar que el contenido interno sobresalga */
}

/* Estilos imagenes */
.card-img-top {
  border-radius: 30px;
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  object-fit: cover; /* Ajusta la imagen manteniendo su proporción */
  padding: 15px; /* Espacio interno alrededor de la imagen */
}

/* Nombre producto */
.name {
  padding-left: 15px; /* Espacio interno a la izquierda */
}

/* Descripcion */
.description {
  font-weight: 300;
}

/* Precio del producto */
.price {
  text-align: right !important;  /* Alinea el precio a la derecha */

}

/* Cantidad ventidas */
.sold-count {
  position: relative;
  top: 15px; /* Ajusta el espacio sin aumentar el tamaño del contenedor */
}
/* Fin producto */


/* Estilo para Modo Oscuro */

/*body*/
body.dark-mode {
  background-color: rgb(34, 34, 34);
  color: white;
}

/*titulo de categoria*/
body.dark-mode #titulo h1 {
  background-color:#555;
}

/*Barra de navegacion*/
body.dark-mode .navbar-custom {
  background-color: #8b8989 !important; 
}

body.dark-mode a.nav-link {
 color: white !important;
}

/*Divs de productos*/
body.dark-mode .card {
 background-color: #525252;
}

/* div slider de precios*/
body.dark-mode .main {
 background-color: #525252;
 color: white;
}
/*boton de filtrar*/
body.dark-mode #rangeFilterCount {
  background-color: #525252;
  color: white;
  border-color:#F3860F;
}

body.dark-mode #rangeFilterCount:hover {
  background-color: #F58509; 
  color: white; 
}

/*input de precio*/ 
body.dark-mode .price-input {
  color: white;
}

/*Botones de filtro*/
body.dark-mode #searchInput,
body.dark-mode #priceFilterButton,
body.dark-mode #sortDropdown,
body.dark-mode #clearRangeFilter{
 background-color: #8b8989 !important;
}

#icon-cart{
  font-size: large;
  color: #F58509;
  position: relative;
}
  
.btn-group {
  position: relative; /* Para el badge */
}

.dropdown-item {
  position: relative; /* Necesario para que el badge se posicione correctamente */
}
    
#badge {
  position: absolute;
  font-size: 0.50rem; /* Tamaño de fuente responsivo */
}

.cart-icon-container {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-left: 5px; /* Espacio entre el texto y el icono */
}

/* Tableta en Modo Vertical (768x1024) */
@media (max-width: 1024px) {
  .d-flex {
    gap: 2%; 
  }
  
  /* Campo de búsqueda */
  #searchInput {
    width: 180px;
  }

  /* Boton de filtral por precio */
  #priceFilterButton {
    width: 180px;
  }

  /* Boton de ordenar */
  #sortDropdown {
    width: 150px;
  }

}

/* Para smartphones pequeños (320x568) */
@media (max-width: 568px) {
  body {
    background-color: white; 
  }

  .navbar-custom{
    background-color: #F58509;
  }

  /* Alinea los elementos verticalmente */ 
  .col-12.d-flex { 
    flex-direction: column; /* Coloca el campo de búsqueda y los botones en columna */
    align-items: stretch; /* Asegura que ocupen todo el ancho */
  } 

  /* Campo de búsqueda */
  #searchInput {
    width: 100%;
    margin-bottom: 5px;
  }

  /* Boton de filtral por precio */
  #priceFilterButton {
    width: 250px;
    margin-bottom: 5px;
  }

   /* Boton de ordenar */
   #sortDropdown {
    width: 250px;
    margin-bottom: 5px;
  }

  /* Boton de limpiar todo */
  #clearRangeFilter {
    width: 260px;
  }
}