

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap');

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Inter', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}


.navbar-nav .nav-link {
  font-size: 0.975rem; /* Tamaño de fuente más pequeño para el menú */
  line-height: 1.5; /* Ajusta la altura de la línea para mejorar la alineación vertical */
  display: flex;
  align-items: center; /* Centra el texto verticalmente dentro del enlace */
}

nav a {
  text-decoration: none;

}

/* Tamaño de fuente para el texto del usuario */
.navbar-text {
  font-size: 0.975rem; /* Alinea con el tamaño de fuente de los enlaces del menú */
}
.navbar {
  height: auto; /* Deja que el navbar ajuste su altura automáticamente según el contenido */
}

/* Ajustes para los ítems de menú */
.nav-item {
  display: flex;
  align-items: center;
  color: #fff;
}

.navbar-nav .nav-item + .nav-item {
  margin-left: 1rem;
}

/* Asegúrate de que el contenido se alinee verticalmente */
.navbar-nav {
  height: 100%;
  display: flex;
  align-items: center;
}

/* Ajusta el padding para los ítems del menú si es necesario */
.navbar-nav .nav-item {
  margin: 0 10px; /* Ajusta el margen para espacio entre ítems */
  color: white;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

/* Para tabletas en modo vertical (768x1024) */
@media (max-width: 768px) {
  .jumbotron {
    height: 25vh; /* Ajusta la altura */
  }
}

/* Para smartphones pequeños (320x568) */
@media (max-width: 568px) {
  .jumbotron {
    height: 15vh !important; /* Ajusta la altura para pantallas más pequeñas */
    background-position: center top; /* Ajusta la posición de la imagen para pantallas muy pequeñas */
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  background-color: white;
  color: white;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer img {
  width: 80%; /* La imagen ocupa el 80% del ancho del contenedor */
  max-width: 300px; /* Limitar el tamaño máximo de la imagen */
  height: auto; /* Mantener las proporciones */
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}



.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.nav-item{
font-size: xx-large;
font-family: 'Inter', sans-serif;
margin-right: 80px;
}

.nav-link {
  color: white;
}



div.container {
max-width: 90%;
align-content: center;
}

div#titulo h1 {
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #F8A244;
  color: white;
  font-size: 43px;
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  text-indent: 10%;
}

#vendidos {
  font-size: large;
font-weight: 500;
}

#precio {
font-weight: 600; 
}

#nombre {
  font-weight: 600;
}

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

div.col-12 {
  margin-top: 2.5%;
}

#elemento {
  border: 4px solid rgb(235, 153, 2);
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  font-family: 'Inter', sans-serif;
  margin-top: 4%;
}

#fotoauto {
  border-radius: 40px !important;
  background-color: rgb(255, 255, 255)
}

/* Estilo del botón de dropdown */
.btn-group .dropdown-toggle {
  border-radius: 10px; /* Bordes redondeados */
  border-color: #ffffff; /* Color del borde */
  color: white; /* Color de texto */
  background-color: #F3860F; /* Fondo naranja clarito */
  transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
  letter-spacing: 1px;
}

/* Efecto hover en el botón de dropdown */
.btn-group .dropdown-toggle:hover {
  background-color: #FF8C00; /* Fondo naranja más fuerte */
  color: white; /* Texto blanco */
}

/* Estilo del menú desplegable */
.dropdown-menu {
  background-color: #FF8C00; /* Fondo naranja fuerte */
  border-radius: 20px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
  border-color: white 1em;
}

/* Estilo de los elementos dentro del menú */
.dropdown-item {
  color: rgb(255, 255, 255); /* Color del texto de los elementos */
  padding: 10px 15px; /* Espaciado interno */
  transition: background-color 0.3s; /* Transición suave */
}

/* Efecto hover en los elementos del menú */
.dropdown-item:hover {
  background-color: rgba(255, 165, 0, 0.8); /* Fondo naranja más oscuro */
  color: white;
  font-weight: bold;
}


/*Modo oscuro*/

/* Barra de navegacion */
body.dark-mode .navbar-custom {
  background-color: #8b8989 !important;
}

body.dark-mode a.nav-link {
  color: white !important;
}

/* boton barra de navegacion usuario */
body.dark-mode .btn-group .dropdown-toggle {
  background-color:#d6d6d6;
  border: none;
}


/* Estilo del botón de dropdown */
.btn-group .dropdown-toggle {
  border-radius: 10px; /* Bordes redondeados */
  border-color: #ffffff; /* Color del borde */
  color: white; /* Color de texto */
  background-color: #F3860F; /* Fondo naranja clarito */
  transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
  letter-spacing: 1px;
}
.btn-group .dropdown-toggle:hover {
  background-color: #F3860F;
  color: white; /* Texto blanco */
}
.dropdown-menu {
  background-color: #F3860F; /* Fondo naranja fuerte */
  border-radius: 20px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
  border-color: white 1em;
}
.dropdown-item {
  color: rgb(255, 255, 255); /* Color del texto de los elementos */
  padding: 10px 15px; /* Espaciado interno */
  transition: background-color 0.3s; /* Transición suave */
}

/* Efecto hover en los elementos del menú */
.dropdown-item:hover {
  background-color: #F3860F; /* Fondo naranja más oscuro */
  color: white;
  font-weight: bold;
}

/* titulo */
body.dark-mode h2,
body.dark-mode .title-sell{
background-color: #6b6b6b;
}

/*color del body*/
body.dark-mode {
background-color:rgb(34, 34, 34) !important;
color: white;
}

body.dark-mode .jumbotron {
  background: url('../img/cover-dark.png');
  height: 50vh !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body.dark-mode .footer-image{
content: url('../img/footer-dark.png');
}

/*footer y div con las categorias en el inicio*/
body.dark-mode footer,
body.dark-mode .pb-5 {
 background-color: rgb(34, 34, 34) !important;
 color: white;
}

/*div de cada categoria en inicio*/
body.dark-mode .bg-light {
color: black;
background-color: rgb(34, 34, 34) !important;
}

/*div de categories.html*/
body.dark-mode .list-group-item {
  background-color: #525252;
  color: white;
}

.dropdown-toggle {
  width: auto; /* El ancho del botón se ajustará al contenido */
  min-width: 100px; /* Asegura que el botón tenga al menos 100px de ancho */
  transition: all 0.3s ease;
  padding: 10px; /* Controla el relleno del botón */
  display: inline-flex; /* Asegura que el contenido se alinee correctamente */
  justify-content: center; /* Centra el contenido */
  align-items: center; /* Centra el contenido verticalmente */
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color:#525252;
}

/* Estilo del botón de dropdown en modo oscuro */
body.dark-mode .btn-group .dropdown-toggle {
  background-color: #6b6b6b !important; /* Cambia el fondo a gris oscuro */
  border: none !important; /* Elimina el borde */
  color: white !important; /* Mantiene el texto blanco */
}

/* Efecto hover en el botón de dropdown en modo oscuro */
body.dark-mode .btn-group .dropdown-toggle:hover {
  background-color: #8b8b8b !important; /* Gris más claro al hacer hover */
  color: white !important; /* Texto blanco en el hover */
}

/* Asegúrate de que el fondo del menú desplegable también sea gris en modo oscuro */
body.dark-mode .dropdown-menu {
  background-color: #525252 !important; /* Fondo gris oscuro para el menú */
  border-radius: 20px !important; /* Mantén bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important; /* Sombra suave */
  border-color: white 1em !important;
}

/* Estilo de los elementos dentro del menú en modo oscuro */
body.dark-mode .dropdown-item {
  color: rgb(255, 255, 255) !important; /* Color de texto blanco */
  padding: 10px 15px !important; /* Espaciado interno */
  transition: background-color 0.3s !important; /* Transición suave */
}

/* Efecto hover en los elementos del menú en modo oscuro */
body.dark-mode .dropdown-item:hover {
  background-color: rgba(255, 165, 0, 0.8) !important; /* Fondo naranja más oscuro */
  color: white !important;
  font-weight: bold !important;
}



/* Asegura que el texto dentro del span no se rompa */
#user-email {
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Evita que el texto desborde el contenedor */
  text-overflow: ellipsis; /* Si el texto es muy largo, muestra puntos suspensivos */
}

body.dark-mode a.btn {
  background-color: rgb(34, 34, 34);
  color: white;
  border: none;
}

.footer-link {
  color: #FF6F00; 
  size:bold; 
  text-decoration: none; 
  font-weight: bold;
}

.footer-link:hover {
  color: rgb(235, 153, 2);
}

#icon-cart {
  font-size: large;
  color: #ffffff;
  position: relative;
}
  
.btn-group {
  position: relative; /* Para el badge */
}
.dropdown-item {
  position: relative; /* Necesario para que el badge se posicione correctamente */
}
    

#badge {
  position: absolute;
  font-size: 0.50rem; /* Tamaño de fuente responsivo */
}

.cart-icon-container {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-left: 5px; /* Espacio entre el texto y el icono */
}

#badge {
  position: absolute;
  font-size: 0.50rem; /* Tamaño de fuente responsivo */
}

.cart-icon-container {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-left: 5px; /* Espacio entre el texto y el icono */
}

/* Contenemdores principales*/
.three-category {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5) !important;
  transition: transform 0.2s ease-in-out; /* Animación suave */
}

.three-category:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.7) !important; 
  transform: translateY(-10px); /* Efecto de elevación */
}

/* Vender */
.title-sell {
  background-color: #F58509;
  color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1px;
  padding-left: 10%;
}

/* Estilo para los campos enfocados */
.form-control:focus, 
.form-select:focus {
  border-color: #F58509; 
  box-shadow: 0 0 5px #F58509; 
  outline: none; /* Elimina el borde azul predeterminado */
}


.btn-sell {
  background-color: #F58509; 
  border-color: #F58509; 
  color: white; 
}

.btn-sell:hover {
  background-color: #d47408;
  border-color: #d47408;
  color: white;
}

/* Boton para modo oscuro de la barra de navegacion*/
input {
  display: none;
}
#labelsw {
  position: relative; 
  width: 80px;
  height: 40px;
  border-radius: 999px;
  background: #F3F3F3;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.05) inset;
  cursor: pointer;
  transition: 0.5s;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 99px;
  background: rgb(255, 185, 55);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05),
  -10px -10px 30px rgba(0, 0, 0, 0.05) inset;
  position: absolute;
  top: 50%;
  right: 0; 
  transform: translate(-50%, -50%); 
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/*Imagen luna y sol*/
svg {
  width: 16px;
  position: absolute;
}
.sun {
  color: #ffffff;
  margin-top: 0%;
  opacity: 1;
}
.moon {
  margin-top: -150%;
  color: white;
  opacity: 0;
}

/*Circulo modo oscuro*/
input[type=checkbox]:checked + .display label .circle {
  background: #6b6b6b;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5),
  -10px -10px 30px rgba(0, 0, 0, 0.5) inset;
}
/* Posicion del sol en modo oscuro*/
input[type=checkbox]:checked + .display label .circle .sun {
  margin-top: 150%;
  opacity: 0;
}
/*Posicion de la luna en modo oscuro*/
input[type=checkbox]:checked + .display label .circle .moon {
  margin-top: 0%;
  opacity: 1;
}