body {
    background-color: #F58509;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* HEADER*/
/* Estilo para la barra de navegación */
.navbar-custom {
    background-color: white !important;
}

/* Estilo para los enlaces de navegación */
.navbar-custom .nav-link {
    color: #6F6A6A !important;
}
/* FIN HEADER */

/* CATEGORIAS */
/* Estilos generales para el breadcrumb */
.breadcrumb {
    padding: 10px;
    background-color: #F8A244;
    font-size: 20px;
    margin: 0; /* Eliminamos el margen externo */
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%; /* Asegura que el breadcrumb ocupe el ancho completo del contenedor */
}

/* Separadores */
ul.breadcrumb li+li:before {
    padding: 5px;
    color: #F3860F ;
    content: "/\00a0";
}

/* Estilos para los enlaces */
.breadcrumb a {
    color: #ffffff;
    text-decoration: none; /* Elimina el subrayado */
}

/* Cuando el mouse pasa por encima */
.breadcrumb a:hover {
    color: #F58509; /* Cambia el color al pasar el mouse */
    text-decoration: underline; /* Subraya el texto */
}
/* FIN CATEGORIAS */

/* INFO PRODUCTO */
/* Estilos generales */
.product-details {
    background-color: #f5f5f5; 
    width: 90%; 
    max-width: 1200px;
    margin: 0 auto; 
    margin-bottom:4%;
    padding: 40px 5px; 
    border-radius: 30px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /*Sombra alrededor del contenedor */
}

.product-details.row {
    gap: 20px; /* Espacio entre las columnas */
}


/* Carrusel PRODUCTOS */
/* Estilos generales para el contenedor del carrusel */
#product-info .carousel-container {
    width: 55%; 
    max-width: 800px; /* Ancho máximo para limitar el tamaño del carrusel */
}

/* Ajusta el ancho y alto de las imágenes del carrusel */
#product-info .carousel-item img {
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Ajusta cómo la imagen se adapta al contenedor */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    border-radius: 20px;
    border: 2px solid #F58509;
}

/* Cambia el color de los indicadores del carrusel */
#product-info .carousel-indicators [data-bs-target] {
  background-color: #ff8400;
}

#product-info .carousel-indicators .active {
  background-color: #F8A244; /* Color del indicador activo */
}
/* Fin carrusel PRODUCTOS*/

/* Contenedor info */
/* Estilos generales contenedor */
.product-info-container {
    border: 2px solid #F3860F;
    border-radius: 30px;
    width: 35%;
    padding: 20px;
    position: relative; /* Posición relativa para que los elementos absolutos se alineen con él */
}

/* Estilos para el nombre del producto */
.product-info-container .product-name {
    font-size: 30px;
    margin-bottom: 10px;
}

/* Descripción producto */
.product-info-container .product-description {
    font-size: 20px;
    font-weight: 300; /* Ajusta el grosor */
}

/* Precio producto */
.product-info-container .product-price {
    position: absolute; /* Posición absoluta dentro del contenedor */
    font-size: 25px;
    bottom: 55px; /* Distancia desde la parte inferior del contenedor */
    right: 20px; /* Distancia desde el borde derecho del contenedor */
    text-align: end;
    margin-bottom: 15px;
    margin: 0; /* Elimina márgenes adicionales */
}

/* Cantidad ventidas */
.product-info-container .product-sold {
    position: absolute;
    bottom: 5px; /* Fija el texto a una distancia constante del borde inferior */

}
/* Fin contenedor info */

/* Productos relacionados */

/* CAROUSEL */
/* Personalización de los botones del carrusel */
#relatedProductCarousel .carousel-control-prev-icon,
#relatedProductCarousel .carousel-control-next-icon {
    background-color: #F58509;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/* Flechas */
.carousel-control-prev,
.carousel-control-next {
    width: 4%; /* Ajusta el ancho del área de las flechas */
}

.carousel-inner {
    padding-top: 0;
}

/* Estilos para los contenedores de los productos relacionados */
.related-product {
    margin: 10px; /* Espacio entre los productos */
    max-width: 30%; /* Limita el ancho del contenedor */
}

/* Solo para el primer producto relacionado */
.related-product:first-child {
    margin-left: 40px; /* Espacio solo para el primer producto */
}


/* FIN CAROUSEL */
/* Contenedor de toda la info */
#related-products-container {
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.title-related-products {
    color: #F58509;
    margin-right: 40px !important;
}

.card {
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.card-img-top {
    border-radius: 10px;
    padding: 10px;
    border-radius: 25px;
}

.card-title {
    text-align: end;
    font-size: 20px;
}

.cursor-pointer {
    cursor: pointer; /* Cambia el cursor a un puntero */
}

/* Fin productos relacionados*/

/* FOOTER */
.text-muted {
    background-color: #F58509;
}
/* FIN FOTTER */

/* Tableta en Modo Vertical (768x1024)*/
@media (max-width: 1024px) {
    .navbar-toggler {
        border: 1px solid #d0caca !important;
        border-radius: .25rem;
        background-color: rgb(240, 235, 235); /* Fondo transparente para el botón */
    }

    .product-details {
        display: flex;
        flex-direction: column !important; /* Organiza los elementos en una columna */
    }

    .carousel-container {
        width: 100% !important;
    }
    
    .product-info-container {
        width: 100% !important;
        height: 300px;
    }

    .product-info-container .product-name {
        font-size: 40px;
    }
    
    .product-info-container .product-description {
        font-size: 30px;
        margin-bottom: 10px;
    }
    
    .product-info-container .product-price {
        font-size: 35px;
    }
    
    .product-info-container .product-sold {
        font-size: 20px;
        margin-bottom: 0;
    }
    #calificacionestitle {
        color: #838383;
        justify-content: right;
        display: flex;
        margin-right: 7%;
    }

    #fechacomment {
        text-align: left;
        display: flex;
    }

    .rating li{
    margin: 0;
    padding: 2px !important;
    }

    #descripcioncomment{
    font-weight: 450 !important;
    }

    #comments-list{
        display: flex !important;
        justify-content: center !important;
        align-content: center !important;
        margin-left: 3%;
    }
    
    .related-product {
       
        max-width: 40%;
    }

}

/* Para smartphones pequeños (320x568) */
@media (max-width: 568px) {
    body {
        background-color: white;
    }

    /* Estilo para la barra de navegación */
    .navbar-custom {
        background-color: #F58509 !important;
    }

    .breadcrumb {
        background-color: #D9D9D9;
        font-size: 16px;
        padding: 5px;
    }

    .breadcrumb a {
        color: #F58509;
    }
    
    .carousel-container {
        width: 100%;
    }

    .carousel-item img {
        border-radius: 10px;
    }

    .product-details {
        width: 100%; /* Ocupará el ancho completo en móviles */
        height: 350px; /* Ajusta el alto exacto */
        padding: 10px;
        margin-top: 30px;
        border: 2px solid #F58509;
    }
    
    .product-info-container {
        width: 100%;
        height: 150px;
        margin-top: 20px;
        padding: 10px;
        border-radius: 15px;
    }

    .product-info-container .product-name {
        font-size: 20px;
    }
    
    .product-info-container .product-description {
        font-size: 13px;
        margin-bottom: 10px;
    }
    
    .product-info-container .product-price {
        font-size: 12px;
        bottom: 20px;
    }
    
    .product-info-container .product-sold {
        font-size: 10px;
        margin-bottom: 0;
    }

    .text-muted {
        background-color: white;
    }
    #comments{
        text-align: center;
        justify-content: center;
    }
    #commentdiv{
        padding: 2% !important;
    }

    #calificacionestitle {
    padding: 5%;
    color: #F58509;
    margin-left: 3% !important;
    }
    #comments-list{
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-left: 7%;
    }

    #descripcioncomment{
        font-weight: 800;
    }

    #fechacomment {
        text-align: left;
        display: flex;
        font-size: small !important;
    }

    .rating li {
    display: flex !important;
    font-size: medium !important;
    text-align: right !important;
    margin: 0;
    padding: 0.5px !important;
    }

    #iconos {
    text-align: right;
    justify-content: right;
    }

    /* Productos relacionados */
    .title-related-products {
        font-size: 15px;
    }
    
    /* Solo para el primer producto relacionado */
    .related-product:first-child {
        margin-left: 5px; /* Espacio solo para el primer producto */
    }
    
    /* Productos relacionados */
    .related-product {
        flex: 0 0 90%; /* Cada producto ocupa el 90% del contenedor */
        max-width: 100%; /* Asegura que no exceda el ancho */
    }   
}

.rating {
    list-style: none;
    display: flex;
    padding: 0;
    margin-top: 20px; /* Ajusta este valor según sea necesario */
  }
  
  .rating li {
    margin: 0 5px;
    padding: 10px;
    border-radius: 50%; /* Para dar forma circular */
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .rating li.selected {
    transform: scale(1.2); /* Aumentar tamaño de la carita seleccionada */
  }
 
  h5{
    color: #F58509;

  }

/* div para agregar comentarios*/
#comentarios{
 width: 300px;   /* ancho del div*/
  height: 400px;  /* alto del div*/
  padding: 20px;  /* Espacio interno */
  background-color: white; /* Color de fondo */
  border: 1px solid #ccc; /* Borde */
  box-shadow:  4px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra */
  border-radius: 10%;
  margin-top: 20px;
  margin: 20px 0 20px 20px;
  
}

#user-comment{
    background-color: #D9D9D9;
    border-radius: 20px;
}
#rangeFilterCount{
background-color:#F58509; /* Color de fondo (verde) */
  color: white;              /* Color del texto */
}

/* div calificaciones general*/
div#comments{
    background-color: #ffffff;
    border: 4px solid #F58509;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5) !important;
    border-radius: 50px;
    width: 100%;
    overflow: hidden;
    padding: 2%;
    margin-top: 20px;
    display: block;
    padding: 3%;
    flex-grow: 1;
}

/* div con ambos */
#calificacionYComentarios{
margin-top: 4%;
width: 100%;
gap: 4%;
align-items: center;
align-content: center;
text-align: justify;
justify-content: center !important;
}

/*titulo calificaciones*/
#calificacionestitle {
font-size: xx-large;
font-family: Arial, Helvetica, sans-serif;
text-align: justify;
margin-top: 2%;
margin-left: 5%;
margin-bottom: 5%;
}

/*estilo de las caritas*/
.rating li {
    display: inline-block;
    margin: 0 1px; /*Espaciado entre los iconos*/
    font-size: x-large;
}

.rating li[data-value="1"] {
    color: rgba(255, 0, 0, 0.6); /* 1 carita */
}

.rating li[data-value="2"] {
    color: rgba(243, 239, 12, 0.6); /* 2 caritas */
}

.rating li[data-value="3"] {
    color: rgba(203, 125, 223, 0.6); /* 3 caritas */
}

.rating li[data-value="4"] {
    color: rgba(123, 212, 21, 0.644); /* 4 caritas */
}

.rating li[data-value="5"] {
    color: rgba(2, 233, 60, 0.6); /* 5 caritas */
}

/* div de cada calificacion por separado */
#commentdiv{
margin-bottom: 5%;
display: flex;
width: 100%;
text-align: justify;
}

/*div iconos de los comentarios*/
#iconos {
display: flex;
}

#descripcioncomment {
font-size: x-large;
font-weight: 490;
margin-top: 0 !important;
}

#usuariocomment {
font-size: larger;
font-weight: 450;
}

#fechacomment{
text-align: right;
font-size: large;
}

/*Estilos del boton switch en modo claro y oscuro*/

/*Estilo de clase para los iconos*/
.iconos {
    width: 40px;
    position: absolute;
}

/*Selector universal que logra el movimiento giratorio del circulo*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

/*icono del sol*/
#sol{
    color: rgb(255, 230, 0);
    margin-top: 0%;
}

/*icono de la luna*/
#luna{
    margin-top: -150%;
    color: white;
}

/*div del switch*/
.display{
    width: 100%;
    height: auto;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

/*Estilo del switch para modo claro*/
#switchbutton {
    border: solid white;
    width: 200px;
    height: 100px;
    border-radius: 999px;
    /*background: rgb(235, 235, 235);*/
    background-image: url(https://t3.ftcdn.net/jpg/04/87/24/10/360_F_487241098_c5q6f2sDLaIh1ZACiyU2v2uK3gvP8JNg.jpg);
    box-shadow: 10px 10px 30px rgb(130, 202, 224) inset;
    cursor: pointer;
    position: relative;
}

/*Estilo del circulo*/
.circle {
width: 80px;
height: 80px;
border-radius: 99px;
background: rgb(250, 138, 40);
box-shadow: 10px 10px 20px rgb(44, 44, 44),
-10px -10px 30px rgb(202, 118, 7) inset;
position: absolute;
top: 50%;
left: 0%;
transform: translate(10%, -50%);
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
}

/*Desaparecer el checkbox*/
input {
    display: none;
}

/*input[type=checkbox]:checked {
    background-color: black;
}*/

/*Estilo del botón switch para el modo oscuro*/
input[type=checkbox]:checked + .display #switchbutton{
    background-image: url(https://media.istockphoto.com/id/158331462/es/v%C3%ADdeo/colorido-estrellas-en-bucle-cielo-de-noche-con-estrellas-bkinking.jpg?s=640x640&k=20&c=FLrUhmwfs1lXQqRh3uB9kRQqD0caL0om-jac2WYyx2E=);
    transition: background-image 0.5s ease;
    box-shadow: 10px 10px 30px black inset;
    border: solid rgb(59, 59, 59);
}

/*Estilo del circulo para el modo oscuro*/
input[type=checkbox]:checked + .display #switchbutton .circle {
    left: 100%;
    transform: translate(-110%, -50%);
    background-color: rgb(73, 73, 73); /*color del circulo*/
    box-shadow: 10px 10px 20px rgb(0, 0, 0), /*sombra del circulo*/
    -10px -10px 30px rgb(24, 24, 24) inset; /*sombra interior del circulo*/
}

/*Posicion del sol para modo oscuro*/
input[type=checkbox]:checked + .display #switchbutton .circle #sol{
    margin-top: 150%;
}
/*Posicion de la lunea para modo oscuro*/
input[type=checkbox]:checked + .display #switchbutton .circle #luna{
    margin-top: 0%;
}

/*Estilo de pagina para Modo oscuro*/

/*Body y footer*/
body.dark-mode,
body.dark-mode footer {
    background-color: rgb(34, 34, 34);
    width: 100%;
}
/*Barra pagina actual de productos*/
body.dark-mode div.container-fluid,
body.dark-mode ul.breadcrumb {
    background-color: rgb(145, 145, 145);
    color: white;
}

/*Contenedor principal informacion del producto*/
body.dark-mode #product-info > div.product-details.row.justify-content-center {
    background-color: #525252;
    color: white;
}
/* descripcion del producto principal */
#product-info > div.product-details.row.justify-content-center > div.col-md-6.product-info-container > p.product-description{
    color: #b1b1b1;
}

/*Bordes del contenedor Producto info principal texto e imagen*/
body.dark-mode #product-info > div.product-details.row.justify-content-center > div.col-md-6.product-info-container,
body.dark-mode #carouselExampleIndicators > div.carousel-inner > div.carousel-item.active > img{
border-color: #ccc;
border: solid 3px;
}

/*Color de fondo de los divs*/
body.dark-mode #comentarios,
body.dark-mode #comments,
body.dark-mode #related-products-container{
 background-color: #525252;
 color: white;
 border: none;
}

/* Barra de navegacion */
body.dark-mode .navbar-custom{
background-color: #8b8989 !important;
}
body.dark-mode a.nav-link{
color: white !important;
}
/* boton barra de navegacion usuario */
body.dark-mode .btn-group .dropdown-toggle{
background-color:#d6d6d6;
border: none;
}

/* Titulos de los divs */
body.dark-mode #related-products-container > h3,
body.dark-mode #calificacionYComentarios h5{
color: #f5f5f5;
}

/* div producto relacionado */
body.dark-mode div.card{
background-color: #7c7c7c;
}
body.dark-mode .card-title{
color: white;
}

/* fondo para los iconos */
body.dark-mode ul#rating.rating {
background-color: #f5f5f5;
}

/* form para calificar */
body.dark-mode #user-comment{
background-color: #7c7c7c;
border: none;
box-shadow:  4px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra */
margin-bottom: 5%;
}
body.dark-mode ::placeholder {
color: #c5c4c4;
}

/* boton para enviar calificacion*/
body.dark-mode #rangeFilterCount{
background-color: #8b8989;
border: none;
border-radius: 15%;
box-shadow:  4px 4px 10px rgba(0, 0, 0, 0.5);
}