@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap');



.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Inter', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}


.navbar-nav .nav-link {
  font-size: 0.975rem; /* Tamaño de fuente más pequeño para el menú */
  line-height: 1.5; /* Ajusta la altura de la línea para mejorar la alineación vertical */
  display: flex;
  align-items: center; /* Centra el texto verticalmente dentro del enlace */
}

nav a {
  text-decoration: none;

}

/* Tamaño de fuente para el texto del usuario */
.navbar-text {
  font-size: 0.975rem; /* Alinea con el tamaño de fuente de los enlaces del menú */
}
.navbar {
  height: auto; /* Deja que el navbar ajuste su altura automáticamente según el contenido */
}

/* Ajustes para los ítems de menú */
.nav-item {
  display: flex;
  align-items: center;
  color: #fff;
}

/* Opcional: Para manejar márgenes en ítems del menú */
.navbar-nav .nav-item + .nav-item {
  margin-left: 1rem; /* Ajusta el margen entre los ítems si es necesario */
}

/* Asegúrate de que el contenido se alinee verticalmente */
.navbar-nav {
  height: 100%;
  display: flex;
  align-items: center;
}

/* Ajusta el padding para los ítems del menú si es necesario */
.navbar-nav .nav-item {
    margin: 0 10px; /* Ajusta el margen para espacio entre ítems */
    color: white;
  }


footer {
  background-color: white;
  padding: 1rem 0;
}
footer img {
  max-width: 386px;
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

/* Para tabletas en modo vertical (768x1024) */
@media (max-width: 768px) {
  .jumbotron {
    height: 25vh; /* Ajusta la altura */
  }
}

/* Para smartphones pequeños (320x568) */
@media (max-width: 568px) {
  .jumbotron {
    height: 15vh !important; /* Ajusta la altura para pantallas más pequeñas */
    background-position: center top; /* Ajusta la posición de la imagen para pantallas muy pequeñas */
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.nav-item{
font-size: xx-large;
font-family: 'Inter', sans-serif;
margin-right: 80px;
}

.nav-link {
  color: white;
}



div.container {
max-width: 90%;
align-content: center;
}

div#titulo h1 {
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #F8A244;
  color: white;
  font-size: 43px;
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  text-indent: 10%;
}

#vendidos {
  font-size: large;
font-weight: 500;
}

#precio {
font-weight: 600; 
}

#nombre {
  font-weight: 600;
}

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

div.col-12 {
  margin-top: 2.5%;
}

#elemento {
  border: 4px solid rgb(235, 153, 2);
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  font-family: 'Inter', sans-serif;
  margin-top: 4%;
}

#fotoauto {
  border-radius: 40px !important;
  background-color: rgb(255, 255, 255)
}

.btn-group .dropdown-toggle {
  color: rgb(235, 153, 2);
}

.btn-group .dropdown-toggle:hover {
  background-color: rgba(255, 165, 0, 0.2);
  color: rgb(235, 153, 2);
}

.btn-group .dropdown-toggle {
  color: rgb(235, 153, 2);
}

.btn-group .dropdown-toggle:hover {
  background-color: rgb(235, 153, 2);
  color: white;
}


/*Modo oscuro*/

/* Barra de navegacion */
body.dark-mode .navbar-custom{
  background-color: #8b8989 !important;
  }
  body.dark-mode a.nav-link{
  color: white !important;
  }
  /* boton barra de navegacion usuario */
  body.dark-mode .btn-group .dropdown-toggle{
  background-color:#d6d6d6;
  border: none;
  }
/*color del body*/
body.dark-mode {
background-color:rgb(34, 34, 34) !important;
color: white;
}

/*footer y div con las categorias en el inicio*/
body.dark-mode footer,
body.dark-mode .pb-5 {
 background-color: rgb(34, 34, 34) !important;
 color: white;
}
/*div de cada categoria en inicio*/
body.dark-mode .bg-light{
color: black;
background-color: rgb(34, 34, 34) !important;
}
/*div de categories.html*/
body.dark-mode .list-group-item{
background-color: #525252;
color: white;
}
.dropdown-toggle {
  width: 200px; 
  min-width: 100px;
  transition: all 0.3s ease;
  padding: 10px; 
}
body.dark-mode a.btn{
background-color: rgb(34, 34, 34);
color: white;
border: none;
}

body.dark-mode button.btn:nth-child(14){
background-color: #FF6F00;
border-color: #8b8989;
}

.footer-link {
  color: #FF6F00; 
  size:bold; 
  text-decoration: none; 
  font-weight: bold;
}

.footer-link:hover {
  color: rgb(235, 153, 2);
}

#icon-cart{
  font-size: large;
  color: #F58509;
  position: relative;
  }
  
  .btn-group {
      position: relative; /* Para el badge */
    }
    .dropdown-item {
      position: relative; /* Necesario para que el badge se posicione correctamente */
    }
    
    #badge {
      position: absolute;
      font-size: 0.50rem; /* Tamaño de fuente responsivo */
    }
    .cart-icon-container {
      display: inline-flex;
      align-items: center;
      position: relative;
      margin-left: 5px; /* Espacio entre el texto y el icono */
    }