body {
    background-color: #F58509;
}

.navbar-custom {
    background-color: #ffffff !important; 
}
  
.navbar-custom .nav-link {
    color: #808080 !important; 
    font-size: 1rem !important; 
}

.text-muted {
    background-color: #F58509;
}

/* Contenedor del ícono del carrito */
.cart-icon-container {
    position: absolute;
    top: 10%; 
    right: 15%;
}

/* Estilos del ícono de carrito */
#icon-cartbody{
    font-size: 45px; 
    color: rgb(206, 95, 5);
    text-shadow: -5px 5px 10px rgba(255, 253, 253, 0.4);
    cursor: pointer; /* Cambia el cursor al pasar sobre el ícono */
}

/* Contenedor principal */
.info-container {
    margin-top: 60px;
    border-radius: 20px;
    border: 2px solid white;
    padding: 20px; 
}

/* Estilos generales */
.cart-item,
.purchase-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 65px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

/* Imagen */
.cart-item-image,
.purchase-item-image {
    width: 100%;
    max-width: 200px; /* Tamaño máximo de la imagen */
    height: auto; /* Se ajusta la altura automáticamente */
    border-radius: 30px;
    border: 2px solid #F58509;
    margin-right: 15px;
    margin-left: 30px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

/* Detalles del producto */
.cart-item-details,
.purchase-item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Nombre del producto */
.product-name {
    color: white;
    font-size: 25px;
}

/* Cantidad del producto */
.product-quantity {
    color: white;
    font-size: 25px;
    margin-top: 20px;
    margin-left: auto; /* Empuja el elemento hacia el lado derecho */
    padding-right: 50px; /* Espacio fijo del lado derecho */
}

/* Visualizar en fila */
.product-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilos para el input de cantidad */
.quantity-input,
.product-quantity input[type="number"] {
    width: 50px;
    color: black; 
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Estilo para el campo de entrada de cantidad */
.quantity-input {
    width: 60px;
    padding: 5px;
    font-size: 14px;
}

/* Precio del producto */
.product-price {
    margin-top: 4px;
    color: white;
    font-size: 25px;
    margin-bottom: 4px;
}

/* Subtotal del producto */
.product-subtotal {
    text-align: end;
    margin-right: 50px;
    color: white;
    font-size: 25px;
}

/* Botón */
.trash-button {
    background-color: #f8f9fa; /* Color de fondo claro */
    border: none; /* Sin borde */
    border-radius: 10px; /* Bordes redondeados */
    padding: 8px 12px; /* Tamaño del botón */
    cursor: pointer; /* Cambio de cursor al pasar sobre el botón */
    margin-right: 5%;
}

.trash-button:hover {
    background-color: #ACACAC; /* Color de fondo al pasar el ratón */
}

/* Icono */
.trash-icon {
    width: 20px; 
    height: 20px;
    fill: #333; 
}

.subtotal-compra {
    color: white;
    font-size: larger;
    margin-left: 40px;
    margin-top: 20px;
}

.costoEnvio-compra {
    color: white;
    font-size: larger;
    margin-left: 40px;
}

.total-compra {
    color: white;
    font-size: larger;
    margin-left: 40px;
}

/* TABS */
.tab-pane {
    display: none; /* Oculta el contenido por defecto */
}

.tab-pane.active {
    display: block; /* Muestra solo el contenido de la pestaña activa */
}


/* Eliminar el fondo blanco de la pestaña activa */
.nav-tabs .nav-link.active {
    background-color: transparent !important;
    border-color: transparent; /* Quita el borde inferior de la pestaña activa */
}

/* Eliminar el fondo blanco en el hover */
.nav-tabs .nav-link:hover {
    background-color: transparent;
}

/* Estilos generales para la barra de navegación */
.nav-tabs {
    border-radius: 10px 10px 0 0; /* Bordes redondeados en la parte superior */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px; 
}

/* Estilo de los enlaces de las pestañas */
.nav-link {
    border: none; /* Elimina bordes alrededor de las pestañas */
    color: white; 
    font-weight: 500; 
    font-size: 20px; /* Tamaño de fuente */
}

/* Efecto hover (cuando el ratón pasa por encima) */
.nav-link:hover {
    color: rgb(191, 114, 5) !important;
}

/* Contenedor de los botones */
.d-flex {
    display: flex;
    justify-content: center; 
    gap: 40px;              
}

/* Botones costo de envio */
.btn-envio {
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 300px;
} 

/* Botónes del Tabs */
.btn-next,
.btn-back,
.btn-pay,
.btn-finalize {
    color: white;
    background-color: #F88F34;
    border: 1px solid white;
    border-radius: 15px;
    margin-top: 15px;
}

.d-flex {
    gap: 10px;
}
  
/* Direccion de envio */
.form-label {
    color: white;
    margin-left: 40px;
    font-size: larger;
}

/* Campos de entrada*/
.form-control {
    background-color: #F58509;
    padding: 10px; 
    font-size: 16px;
    color: rgb(243, 236, 236);
    border: 1px solid white;
}

/* Texto del placeholder */
.form-control::placeholder {
    color: rgb(228, 220, 220);
    opacity: 1; /* Asegura que el color se vea completamente */
}
  
.form-control:focus {
    background-color: rgb(230, 228, 228);
    box-shadow: none; /* Eliminar el efecto de sombra de Bootstrap */
}
  
/* Margen entre los campos */
.mb-3 {
    margin-bottom: 15px;
}

.btn-debit, .btn-credit {
    border: 2px solid #f2eaea;   
    border-radius: 5px;  
    padding: 10px 20px;        
}

.btn-card {
    display: flex;
    gap: 100px;      
}
  
.btn-debit, .btn-credit {
    color: white;
    border: 1px solid white;
    padding: 10px 15px;    
    border-radius: 10px;
}
  
/* Títulos dentro del modal */
.modal-header h5,
.modal-body .formPay {
  color: #F58509;
  font-size: larger;
}

/* Estilo general para los campos de entrada en el modal */
.input-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 15px;
    transition: border 0.3s ease;
}
  
/* Estilo cuando el campo tiene foco */
.input-field:focus {
    border: 1px solid #F58509; 
    outline: none; /* Quitar el contorno predeterminado */
}
  
/* Estilo para el formulario dentro del modal */
.modal-body form {
    padding: 15px;
}

.btn:focus,
.btn:active {
    outline: none; /* Quita el borde de enfoque o el contorno */
    box-shadow: none; /* Elimina cualquier sombra de Bootstrap */
}

/* Botones específicos en el modal */
.modal-footer .btn-secondary:focus,
.modal-footer .btn-primary:focus,
.modal-footer .btn-secondary:active,
.modal-footer .btn-primary:active {
    outline: none;
    box-shadow: none;
}

/* Botón "Cerrar" */
.modal-footer .btn-secondary {
    background-color: #7d8e9d;
    color: white; 
    border: none; 
    padding: 10px 15px; 
    border-radius: 10px; 
    transition: background-color 0.3s ease; /* Efecto de transición */
}

.modal-footer .btn-secondary:hover {
    background-color: #5a6268; /* Color de fondo al pasar el cursor */
}

/* Botón "Pagar" */
.modal-footer .btn-primary {
    background-color: #F88F34;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px; 
    transition: background-color 0.3s ease; /* Efecto de transición */
}

.modal-footer .btn-primary:hover {
    background-color: #d37f10; /* Color de fondo al pasar el cursor */
}


#icon-cart{
    font-size: large;
    color: #F58509;
    position: relative;
}

.btn-group {
    position: relative; /* Para el badge */
}

.dropdown-item {
    position: relative; /* Necesario para que el badge se posicione correctamente */
}
  
#badge {
    position: absolute;
    font-size: 0.75rem; /* Tamaño de fuente responsivo */
}

/* Tableta en Modo Vertical (768x1024)*/
@media (max-width: 1024px) { 
    .info-container {
        padding: 10px;
    }

    .cart-item-image, .purchase-item-image {
        margin-left: 9px;
    }

    .product-name {
      font-size: 18px;
    }

    .product-quantity {
        font-size: 18px;
        padding-right: 20px;
    }

    .product-price {
        font-size: 18px;
    }

    .product-subtotal {
        font-size: 18px;
    }

    .trash-button {
        margin-right: 5px;
    }
    /* Para que no quede en el menú */
    #icon-cartbody {
        margin-top: 120px;
    }
    .badge {
        margin-top: 120px;
    }
}


/* Para smartphones pequeños (320x568) */
@media (max-width: 568px) {
    .cart-item {
        display: flex;
        flex-direction: column; /* Asegura que todo se muestre en una columna */
        align-items: flex-start; /* Alinea a la izquierda */
        margin: 10px 0; /* Espacio entre los elementos de la lista */
    }

    .cart-item-image {
       margin-left: 20px;
    }

    .cart-item-details {
        display: flex; /* Utiliza flex para mostrar la información en línea */
        flex-direction: column; /* Coloca la información en columnas */
        width: 100%; /* Asegura que el detalle ocupe el ancho completo */
    }

    .product-row {
        display: flex;
        justify-content: space-between; /* Espacia el nombre y la cantidad */
        width: 100%;
    }

    .product-name {
        font-size: 15px;
    }

    .product-quantity {
        font-size: 10px;
    }

    .product-subtotal {
        display: flex;
        align-items: center; /* Centra verticalmente el contenido */
        justify-content: space-between; /* Espacia el subtotal y el botón */
        width: 100%;
    }

    .trash-button {
        margin-left: 170px; 
        background-color: #F58509;
    }

    .trash-icon {
        fill: white;
    }

    .badge {
        margin-top: 20px;
    }

    #icon-cartbody {
        margin-top: 20px;
    }

}


