@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    min-height: 100vh;
    margin: 0;
    background-color: white;
    font-family: 'Inter', sans-serif;
    display: flex; /* Usa Flexbox en el nivel más alto */
    flex-direction: column; /* Coloca los elementos en columna (header, main, footer) */
}

.card {
    margin: 0 auto;
    background: -webkit-linear-gradient(90deg, #ff8800,#ffa200,#ff8800);                         
    background: linear-gradient(90deg, #ff8800,#ffa200,#ff8800); 
    width: 80%;
    max-width: 900px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
}

/* Asegurarse de que la imagen se ajuste bien */
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Ajustar el botón para que ocupe todo el ancho de la columna */
#btn-login {
    width: 100%;
}

/* Ajuste de las columnas para que no sobrepasen el ancho de la fila */
.row {
    display: flex;
    justify-content: center;
}

.login-container {
    flex: 1;
    display: flex; /* Centra el contenido del main */
    justify-content: center; 
    align-items: center; 
}

/* Imagen */
.card img {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

/* Formulario */
.form-label {
    font-weight: bold;
    color: rgb(244, 230, 230) !important;
}

input.form-control {
    border-radius: 10px;
    border: 1px solid #ced4da;
    padding: 10px 15px;
    font-size: 1rem;
    transition: box-shadow 0.2s ease-in-out;
}

input.form-control:focus {
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
    border-color: rgb(197, 184, 184);
}

#btn-login:hover {
    background-color: #ffa200;
}

/* Texto */
p {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilo para los campos y el botón */
.form-control-sm {
    height: 35px; 
    font-size: 14px;  
}
  
.btn-sm {
    height: 35px;  /* Igualar altura al de los campos */
    font-size: 14px;  /* Igualar tamaño de fuente */
    padding: 6px 12px;
}

/* Botón del mismo tamaño que los campos de entrada */
#btn-login {
    background-color: #ff8800;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    width: 100%;  /* Hace que el botón ocupe todo el ancho disponible */
    transition: background-color 0.3s ease;
}


@media (max-width: 568px) {
    .footer-container {
        display: none; 
    }
    
    .card {
        max-width: 90% !important; /* Deja un poco de espacio en los márgenes */
        width: 300px; 
        padding: 30px;
        border-radius: 30px !important;
    }
}
