@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
}

.header-container .logo-image {
    display: none;
}

.header-container {
    background-color: white;
}

.logo-image {
    width: 45%;
    height: auto;
    object-fit: contain;
}

.card {
    max-width: 400px; /* Achicar el ancho */
    width: 100%;
    height: auto;
    background-color: #F58509; /* Fondo naranja */
    color: white; /* Texto blanco */
    border-radius: 40px; /* Bordes redondeados */
    margin: 0 auto; /* Centra el contenedor en la pantalla */
    padding: 30px; /* Aumentar padding */
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
}

.card .form-control {
    width: 100%;
}

.login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(105vh - 385px);
    padding-top: 20px;
}

.form-control {
    border-radius: 20px; /* Bordes redondeados */
    font-size: 20px; /* Aumenta el tamaño de la letra */
    height: 40px; /* Asegura que todos los inputs tengan la misma altura */
    padding: 10px; /* Ajusta el espaciado interno */
    margin-bottom: 15px; /* Espacio entre los inputs y el botón */
    width: calc(100% - 20px); /* Asegura que el input ocupe el ancho del contenedor, dejando espacio para el padding */
}

.col-auto {
    display: flex;
    flex-direction: column; /* Coloca el label y el input uno debajo del otro */
    align-items: flex-start; /* Alinea los elementos al inicio */
    margin-right: 15px; /* Espacio entre columnas */
}

.col-auto label {
    margin-bottom: 5px; /* Espacio entre el label y el input */
    text-align: left; /* Alineación del texto del label */
    width: 100%; /* Para que el label ocupe todo el ancho disponible */
    margin-left: 0; /* Sin margen izquierdo */
    margin-top: 3px; /* Aumentar margen superior para bajar el label */
}

/* Estilo del botón */
.btn-primary {
    background-color: #EF9633; /* Fondo del botón */
    color: white; /* Texto blanco */
    border-color: #D9780E; /* Sin borde adicional */
    border-radius: 20px; /* Bordes redondeados */
    font-weight: 100; /* Fuente delgada */
    padding: 10px 20px; /* Espacio interno */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 16px;
    margin-top: 15px; /* Margen superior */
    width: calc(100% - 20px); /* Asegura que el botón ocupe el ancho del contenedor, dejando espacio para el padding */
}

.btn-primary:hover {
    background-color: #d68d2e; /* Color al pasar el cursor */
    border-color: #e57204; /* Color del borde en estado hover */
}

#btn-login {
    background-color: #EF9633;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 10px;   
    margin-left: 10; /* Cambia esto a un valor mayor para mover el botón hacia la izquierda */
}

@media (max-width: 568px) {
    body {
        background-color: #F58509; 
    }
    
    .navbar {
        display: none; 
    }

    .footer-container {
        display: none; 
    }

    .header-container .logo-image {
        display: block; 
    }

    .logo-image {
        width: 100% !important; /* Asegura que ocupe todo el ancho del contenedor */
        height: 100%; /* Asegura que ocupe toda la altura del contenedor */
        object-fit: cover; /* Asegura que la imagen cubra el contenedor sin cortarse */
    }

    .login-container {
        margin-top: 40px; /* Distancia superior */
    }
    
    .card {
        max-width: 90% !important; /* Deja un poco de espacio en los márgenes */
        width: 300px; /* Achicado */
        padding: 30px; /* Ajusta el padding para móviles */
        border-radius: 50px !important;
        background-color: rgba(142, 79, 11, 0.4); /* 40% opacidad */
        color: white;
        border: 4px solid #8E4F0B; /* Color del borde */
        margin: 0 auto; /* Centra el contenedor en la pantalla */
    }
}

#username,
#password {
    background-color: white; /* Color de fondo siempre visible */
    border: 1px solid #e8be71;
    border-radius: 20px; /* Bordes redondeados */
    width: 100% !important; /* Asegura que el campo de entrada use el ancho completo del contenedor */
}

#username:focus,
#password:focus {
    border-color: #f8911c;
    box-shadow: 0 0 0 0.25rem rgba(255, 165, 0, 0.5);
}

#btn-login {
    background-color: #EF9633;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 10px;   
}

#btn-login:hover {
    border: 7px #ffffff;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #e8be71;
    color: #EF9633;
}
