body {  
      background-color:#F58509;}


.navbar-custom{
    background-color: white;
}

/* Para smartphones pequeños (320x568) */
@media (max-width: 568px) {
    body {
        background-color: white; /* Fondo naranja para pantallas móviles */
      }
      .navbar-custom{
        background-color: #F58509;
    }

     #titulo {
        margin-top: 10%;
        margin-bottom: 5%;
        background-color: rgba(236, 232, 226, 0.575);
        color: #F58509;
        font-size: 35px;
        text-indent: 10%;
      }
      



    }
    