@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    display: flex;
    flex-direction: column; /* Organiza los hijos en una columna */
    min-height: 100vh; /* Asegura que el body ocupe al menos la altura de la ventana */
    margin: 0;
    margin: 0 auto; /* Centra el contenedor en la pantalla */
    background-color: orange;
    font-family: 'Inter', sans-serif;
}


/* Por defecto, ocultar la imagen */
.header-container .logo-image {
    display: none;
  }

.header-container {
    background-color: white;
}

/* Estilos del formulario */
.card {
    border-radius: 50px; /* Bordes redondeados para la tarjeta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para la tarjeta */
    background-color: white;
    background-color: rgb(228, 210, 174);
    color: white;
}

.form-control {
    border-radius: 20px; /* Bordes redondeados para los campos de entrada */
    padding: 6px; /* Espaciado interno en los campos de entrada */
}

/* Estilo del botón */
.btn-primary {
    background-color: #fd7c04; 
    color:white; /* color de letra */
    border-color: #fd7c04; /* Color del borde*/
    border-radius: 18px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 16px;
    display: block;
    font-weight: lighter; /* Peso de fuente más ligero*/
    margin-top: 15px; /* Agrega un margen superior para separar el botón del campo de entrada anterior */

}

/* Efecto al presionar el botón */
.btn-primary:hover {
    background-color: #eca014;
}

#username,
#password {
    background-color: white; /* Color de fondo siempre visible */
    border: 1px solid #e8be71;
    border-radius: 15px; /* Bordes redondeados */
}

#username:focus,
#password:focus {
    border-color: orange;
    box-shadow: 0 0 0 0.25rem rgba(255, 165, 0, 0.5);
}


/* Por defecto, mostrar el footer */
.footer-container {
    background-color: #ffffff; /* Fondo blanco */
    text-align: center; /* Centra la imagen dentro del footer */
    padding: 0; /* Elimina el padding si es necesario */
    margin: 0; /* Elimina el margin si es necesario */
  }
  
  .footer-image {
    width: 100%; /* La imagen se extiende al ancho completo */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Elimina el espacio en blanco debajo de la imagen */
  }

/* Para smartphones pequeños (320x568) */
@media (max-width: 568px) {
   
    .footer-container {
        display: none;
      }
   
    .header-container .logo-image {
        display: block;
      }
   
   
    /* Estilos para la imagen del logo */
    .logo-image {
        width: 100% !important; /* Asegura que ocupe todo el ancho del contenedor */
        height: 100%; /* Asegura que ocupe toda la altura del contenedor */
        object-fit: cover; /* Asegura que la imagen cubra el contenedor sin cortarse */
    }
    
    /* Estilos para los campos de entrada */
    .form-control {
        font-size: 15px; /* Aumenta el tamaño de la letra */
        height: 30px; /* Ajusta la altura del campo de entrada */
        padding: 10px; /* Ajusta el espaciado interno */
    }
    /* Estilo para el contenedor del formulario */
    
    .card {
        max-width: 90% !important; /* Deja un poco de espacio en los márgenes */
        padding: 10px; /* Ajusta el padding para móviles */
        border-radius: 50px !important;
        background-color: rgba(142, 79, 11, 0.4); /* 40% opacidad */
        color: white;
        border: 4px solid #8E4F0B; /* Color del borde */
        margin: 0 auto; /* Centra el contenedor en la pantalla */
    }

    /* Estilo para los campos de entrada específicos */
    #username,
    #password {
        border-radius: 20px; /* Bordes más redondeados */
        padding: 6px !important;
        border: 2px solid #8E4F0B;
    }

    /* Estilos del botón */
    .btn-primary {
        padding: 5px 30px;
        font-size: 16px; /* Ajusta el tamaño del texto del botón */
        border:2px solid white;
        padding: 2px 30px; /* Espacio interno */
    }
}

/* Para pantallas de resolución 1366x768 */
@media (max-width: 1366px) {
    /* Estilos para la imagen del logo */
   .logo-image {
       width: 45%; /* Asegura que ocupe todo el ancho del contenedor */
       height: auto; /* Mantiene la proporción de la imagen */
       object-fit: contain; /* Asegura que la imagen se ajuste bien dentro del contenedor sin cortar */
   }
   /* Estilo para el contenedor del formulario */
  

   .card {
       width: 400px;
       padding: 10px; /* Ajusta el padding para móviles */
       border-radius: 50px !important;
       background-color: rgba(142, 79, 11, 0.4); /* 40% opacidad */
       color: white;
       border: 4px solid #8E4F0B; /* Color del borde */
       
   }

   /* Estilos para los campos de entrada */
   .form-control {
       font-size: 15px; /* Aumenta el tamaño de la letra */
       height: 30px; /* Ajusta la altura del campo de entrada */
       padding: 10px; /* Ajusta el espaciado interno */
   }
   
    /* Estilo para los campos de entrada específicos */
    #username,
    #password {
        border-radius: 20px; /* Bordes más redondeados */
        padding: 6px !important;
        border: 2px solid #8E4F0B;
    }

    /* Estilos del botón */
    .btn-primary {
        padding: 5px 30px;
        font-size: 16px; /* Ajusta el tamaño del texto del botón */
        border:2px solid white;
        padding: 2px 30px; /* Espacio interno */
    }
}


/* Para tabletas en modo vertical (768x1024) */
@media (max-width: 768px) {
  
}